In [1]:
import pandas as pd
filepath = '../Data/species.csv'

In [2]:
data = pd.read_csv(filepath, index_col=0)

In [3]:
data.head()

,site,model,Year,Month,Latitude,Longitude,Depth,Region,Coral_cover,Reef_complexity,...,Pop_per_area_reef_20km,Random,impact,YEAR,HABITAT_CD,REGION,PCT_CORAL,MAX_HARD_RELIEF,no.divers,Diversity_index
0,4733520_128U,biomass,2005,August,24.446433,-81.962900,9.800000,FLA KEYS,2.000000,0.550322,...,0.047128,3786,0.205,2005,ISOL_LR,FLA KEYS,2.000000,0.550322,4,0.877755
1,4966028_487U,impact,2005,June,24.461130,-81.840099,8.821212,FLA KEYS,6.181818,1.886364,...,0.403795,503,0.382,2005,SPGR_HR,FLA KEYS,6.181818,1.886364,4,0.912085
2,4981032_102U,biomass,2005,July,24.467250,-81.832367,17.399239,FLA KEYS,7.506345,0.749873,...,0.392888,3430,NaN,2005,CONT_LR,FLA KEYS,7.506345,0.749873,4,0.882112
3,4999782_141U,impact,2005,August,24.468767,-81.822167,9.200000,FLA KEYS,10.000000,0.400000,...,0.386919,3696,NaN,2005,ISOL_LR,FLA KEYS,10.000000,0.400000,4,0.806049
4,5026033_475U,impact,2005,June,24.470206,-81.808148,8.558032,FLA KEYS,2.870486,0.289415,...,0.383887,4090,NaN,2005,ISOL_LR,FLA KEYS,2.870486,0.289415,4,0.829156

Make a copy of the dataframe

In [13]:
data_copy = data.copy(deep=True)

Finding the columns with identical names (Capital letters vs small caps)

In [14]:
# Step 1: Normalize the column names to a consistent case (e.g., lower case)
normalized_columns = data_copy.columns.str.lower()

# Step 2: Check for duplicates in the normalized names
duplicates = normalized_columns[normalized_columns.duplicated()].unique()

# Step 3: Identify the original column names corresponding to the duplicates
duplicate_columns = [col for col in data_copy.columns if col.lower() in duplicates]

In [15]:
duplicate_columns

['Year', 'Region', 'YEAR', 'REGION']

Removing the columns named YEAR and REGION

In [16]:
data_copy.drop(labels=['YEAR','REGION'], axis=1, inplace=True)
data_copy.columns

Index(['site', 'model', 'Year', 'Month', 'Latitude', 'Longitude', 'Depth',
       'Region', 'Coral_cover', 'Reef_complexity', 'SST', 'NPP',
       'Wave_exposure', 'Habitat_type_classLV0', 'Habitat_type_classLV2',
       'Coral_area_UFRTM_20km', 'Coral_area_UFRTM_200km', 'Depth_Sbrocco',
       'Deepwater', 'FSA', 'Marina_slips_10km', 'Marina_slips_25km',
       'Marine_reserve', 'Population_20km', 'Population_50km',
       'Recreational_fishermen_50km', 'Tourist_fishing',
       'Artificial_reefs_1km', 'SG_permits_50km', 'SG_charter_permits_25km',
       'Total_gravity_intercept', 'Total_gravity', 'Keys_Divisions', 'FKNMS',
       'DryTortugas', 'BNP', 'CoralECA', 'Nursery_seagrass',
       'Nursery_mangroves', 'connectivity', 'Comm_engagement', 'Comm_reliance',
       'Rec_engagement', 'Rec_reliance', 'Commercial_pounds_landed',
       'Pop_per_area_reef_20km', 'Random', 'impact', 'HABITAT_CD', 'PCT_CORAL',
       'MAX_HARD_RELIEF', 'no.divers', 'Diversity_index'],
      dtype='object')

Normalize the columnn names cases

In [18]:
data_copy.columns = data_copy.columns.str.lower()
data_copy.columns

Index(['site', 'model', 'year', 'month', 'latitude', 'longitude', 'depth',
       'region', 'coral_cover', 'reef_complexity', 'sst', 'npp',
       'wave_exposure', 'habitat_type_classlv0', 'habitat_type_classlv2',
       'coral_area_ufrtm_20km', 'coral_area_ufrtm_200km', 'depth_sbrocco',
       'deepwater', 'fsa', 'marina_slips_10km', 'marina_slips_25km',
       'marine_reserve', 'population_20km', 'population_50km',
       'recreational_fishermen_50km', 'tourist_fishing',
       'artificial_reefs_1km', 'sg_permits_50km', 'sg_charter_permits_25km',
       'total_gravity_intercept', 'total_gravity', 'keys_divisions', 'fknms',
       'drytortugas', 'bnp', 'coraleca', 'nursery_seagrass',
       'nursery_mangroves', 'connectivity', 'comm_engagement', 'comm_reliance',
       'rec_engagement', 'rec_reliance', 'commercial_pounds_landed',
       'pop_per_area_reef_20km', 'random', 'impact', 'habitat_cd', 'pct_coral',
       'max_hard_relief', 'no.divers', 'diversity_index'],
      dtype='object')

Checking which columns has missing values

In [33]:
# Step 1: Use isna() to find missing values
missing_values = data_copy.isna()

# Step 2: Use any() to check for any missing values in each column
columns_with_na = missing_values.any()
print('Columns with missing values:')
print(list(columns_with_na.index[columns_with_na]))

Columns with missing values:
['coral_cover', 'reef_complexity', 'total_gravity_intercept', 'total_gravity', 'keys_divisions', 'fknms', 'drytortugas', 'bnp', 'coraleca', 'connectivity', 'comm_engagement', 'comm_reliance', 'rec_engagement', 'rec_reliance', 'commercial_pounds_landed', 'impact', 'pct_coral', 'max_hard_relief']

In [37]:
data_copy['year'].isna().any()

False

In [19]:
data_copy['model'].unique()

array(['biomass', 'impact'], dtype=object)

In [21]:
data_copy['year'].unique()

array([2005, 2006, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2016,
       2018], dtype=int64)

In [22]:
len(data_copy.columns)

53