### Load libraries :

In [60]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Dataset :

In [61]:
species_data = pd.read_csv('../Data/species.csv', index_col=0)

# make a copy of the datset 
data = species_data.copy(deep=True)

In [62]:
data.head()

,site,model,Year,Month,Latitude,Longitude,Depth,Region,Coral_cover,Reef_complexity,...,Pop_per_area_reef_20km,Random,impact,YEAR,HABITAT_CD,REGION,PCT_CORAL,MAX_HARD_RELIEF,no.divers,Diversity_index
0,4733520_128U,biomass,2005,August,24.446433,-81.962900,9.800000,FLA KEYS,2.000000,0.550322,...,0.047128,3786,0.205,2005,ISOL_LR,FLA KEYS,2.000000,0.550322,4,0.877755
1,4966028_487U,impact,2005,June,24.461130,-81.840099,8.821212,FLA KEYS,6.181818,1.886364,...,0.403795,503,0.382,2005,SPGR_HR,FLA KEYS,6.181818,1.886364,4,0.912085
2,4981032_102U,biomass,2005,July,24.467250,-81.832367,17.399239,FLA KEYS,7.506345,0.749873,...,0.392888,3430,NaN,2005,CONT_LR,FLA KEYS,7.506345,0.749873,4,0.882112
3,4999782_141U,impact,2005,August,24.468767,-81.822167,9.200000,FLA KEYS,10.000000,0.400000,...,0.386919,3696,NaN,2005,ISOL_LR,FLA KEYS,10.000000,0.400000,4,0.806049
4,5026033_475U,impact,2005,June,24.470206,-81.808148,8.558032,FLA KEYS,2.870486,0.289415,...,0.383887,4090,NaN,2005,ISOL_LR,FLA KEYS,2.870486,0.289415,4,0.829156

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3999 entries, 0 to 3998
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   site                         3999 non-null   object
 1   model                        3999 non-null   object
 2   Year                         3999 non-null   int64
 3   Month                        3999 non-null   object
 4   Latitude                     3999 non-null   float64
 5   Longitude                    3999 non-null   float64
 6   Depth                        3999 non-null   float64
 7   Region                       3999 non-null   object
 8   Coral_cover                  3292 non-null   float64
 9   Reef_complexity              3292 non-null   float64
 10  SST                          3999 non-null   float64
 11  NPP                          3999 non-null   float64
 12  Wave_exposure                3999 non-null   float64
 13  Habitat_type_classLV0        3999 non-null   object
 14  Habitat_type_classLV2        3999 non-null   object
 15  Coral_area_UFRTM_20km        3999 non-null   int64
 16  Coral_area_UFRTM_200km       3999 non-null   int64
 17  Depth_Sbrocco                3999 non-null   float64
 18  Deepwater                    3999 non-null   float64
 19  FSA                          3999 non-null   float64
 20  Marina_slips_10km            3999 non-null   int64
 21  Marina_slips_25km            3999 non-null   int64
 22  Marine_reserve               3999 non-null   object
 23  Population_20km              3999 non-null   int64
 24  Population_50km              3999 non-null   int64
 25  Recreational_fishermen_50km  3999 non-null   int64
 26  Tourist_fishing              3999 non-null   float64
 27  Artificial_reefs_1km         3999 non-null   int64
 28  SG_permits_50km              3999 non-null   int64
 29  SG_charter_permits_25km      3999 non-null   int64
 30  Total_gravity_intercept      3896 non-null   float64
 31  Total_gravity                3896 non-null   float64
 32  Keys_Divisions               2570 non-null   object
 33  FKNMS                        1658 non-null   object
 34  DryTortugas                  627 non-null    object
 35  BNP                          259 non-null    object
 36  CoralECA                     1364 non-null   object
 37  Nursery_seagrass             3999 non-null   float64
 38  Nursery_mangroves            3999 non-null   float64
 39  connectivity                 3376 non-null   float64
 40  Comm_engagement              3910 non-null   float64
 41  Comm_reliance                3910 non-null   float64
 42  Rec_engagement               3910 non-null   float64
 43  Rec_reliance                 3910 non-null   float64
 44  Commercial_pounds_landed     3998 non-null   float64
 45  Pop_per_area_reef_20km       3999 non-null   float64
 46  Random                       3999 non-null   int64
 47  impact                       2779 non-null   float64
 48  YEAR                         3999 non-null   int64
 49  HABITAT_CD                   3999 non-null   object
 50  REGION                       3999 non-null   object
 51  PCT_CORAL                    3292 non-null   float64
 52  MAX_HARD_RELIEF              3292 non-null   float64
 53  no.divers                    3999 non-null   int64
 54  Diversity_index              3999 non-null   float64
dtypes: float64(27), int64(14), object(14)
memory usage: 1.7+ MB

In [64]:
data.describe()

,Year,Latitude,Longitude,Depth,Coral_cover,Reef_complexity,SST,NPP,Wave_exposure,Coral_area_UFRTM_20km,...,Rec_reliance,Commercial_pounds_landed,Pop_per_area_reef_20km,Random,impact,YEAR,PCT_CORAL,MAX_HARD_RELIEF,no.divers,Diversity_index
count,3999.000000,3999.000000,3999.000000,3999.000000,3292.000000,3292.000000,3999.000000,3999.000000,3999.000000,3999.000000,...,3910.000000,3.998000e+03,3999.000000,3999.000000,2779.000000,3999.000000,3292.000000,3292.000000,3999.000000,3999.000000
mean,2012.886222,25.361813,-80.912910,12.031226,4.549820,1.100154,23.760696,523.320811,7.322459,76727.255314,...,0.424433,6.312866e+05,6.386781,5047.471618,0.400637,2012.886222,4.549820,1.100154,3.115779,0.831469
std,3.629448,0.806724,1.051129,6.942690,5.522744,0.851008,0.552442,163.404174,0.211270,44693.794158,...,2.247541,4.861803e+05,11.092795,2919.598275,0.281552,3.629448,5.522744,0.851008,0.998422,0.114777
min,2005.000000,24.431943,-82.986818,1.300482,0.000000,0.075887,22.405206,287.664307,5.213092,12257.000000,...,-0.185000,1.706314e+05,0.000000,1.000000,0.000000,2005.000000,0.000000,0.075887,2.000000,0.000000
25%,2011.000000,24.632586,-81.695419,6.351316,1.500000,0.500000,23.608484,365.925385,7.294437,50594.000000,...,-0.185000,2.469954e+05,0.039136,2550.500000,0.174000,2011.000000,1.500000,0.500000,2.000000,0.811582
50%,2013.000000,25.123213,-80.292226,10.171806,2.758143,0.900596,23.929285,533.677063,7.368210,60682.000000,...,-0.185000,3.180504e+05,0.248873,5097.000000,0.382000,2013.000000,2.758143,0.900596,4.000000,0.867035
75%,2016.000000,26.034196,-80.092946,17.148568,5.283544,1.448243,24.200861,632.628479,7.455595,91516.000000,...,0.044000,8.556702e+05,12.681632,7602.000000,0.694000,2016.000000,5.283544,1.448243,4.000000,0.900148
max,2018.000000,27.189445,-79.993800,32.295441,55.000000,10.538338,24.436212,1330.589233,7.597482,280125.000000,...,12.140000,1.511066e+06,55.371104,9997.000000,1.000000,2018.000000,55.000000,10.538338,8.000000,0.956324

### Duplicated columns :

In [65]:
# Step 1: Normalize the column names to a consistent case (e.g., lower case)
normalized_columns = data.columns.str.lower()

# Step 2: Check for duplicates in the normalized names
duplicates = normalized_columns[normalized_columns.duplicated()].unique()

# Step 3: Identify the original column names corresponding to the duplicates
duplicate_columns = [col for col in data.columns if col.lower() in duplicates]

duplicate_columns

['Year', 'Region', 'YEAR', 'REGION']

In [66]:
# Removing the columns named YEAR and REGION

data.drop(labels=['YEAR','REGION'], axis=1, inplace=True)

### Handling Missing Data :

In [67]:
# Determine the percentage of missing data in each column
missing_data = data.isnull().mean() * 100

missing_data[missing_data > 0].sort_values(ascending=False)

BNP                         93.523381
DryTortugas                 84.321080
CoralECA                    65.891473
FKNMS                       58.539635
Keys_Divisions              35.733933
impact                      30.507627
Reef_complexity             17.679420
Coral_cover                 17.679420
PCT_CORAL                   17.679420
MAX_HARD_RELIEF             17.679420
connectivity                15.578895
Total_gravity_intercept      2.575644
Total_gravity                2.575644
Comm_engagement              2.225556
Rec_reliance                 2.225556
Rec_engagement               2.225556
Comm_reliance                2.225556
Commercial_pounds_landed     0.025006
dtype: float64

### EDA :

combine the 4 first column with the bigest missing value in one column (4 sites) ['BNP', 'DryTortugas', 'CoralECA', 'FKNMS'] in one column 

for the Keys_Divisions column what should we do ??

In [68]:

# Define the column names
columns = ['BNP', 'DryTortugas', 'CoralECA', 'FKNMS']

# Combine the columns into one
data['Combined'] = data[columns].apply(lambda row: row.dropna().iloc[0] if row.dropna().size > 0 else np.nan, axis=1)

# Drop the old columns
data.drop(columns, axis=1, inplace=True)

data['Keys_Divisions'] : NAs represent sites outside the Florida Keys, ensuring that the analysis can differentiate between Florida Keys-specific and non-specific data.

OR maybe we can fiil them depending on the other 4 sites

In [69]:
# Fill missing values for categorical columns with a placeholder (e.g., 'Unknown')
data['Keys_Divisions'].fillna('Unknown', inplace=True)

C:\Users\AbdessalemDjoudi\AppData\Local\Temp\ipykernel_9568\2642277533.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Keys_Divisions'].fillna('Unknown', inplace=True)

In [70]:
missing_data = data.isnull().mean() * 100

missing_data[missing_data > 0].sort_values(ascending=False)

impact                      30.507627
Coral_cover                 17.679420
PCT_CORAL                   17.679420
MAX_HARD_RELIEF             17.679420
Reef_complexity             17.679420
connectivity                15.578895
Combined                     2.600650
Total_gravity_intercept      2.575644
Total_gravity                2.575644
Comm_engagement              2.225556
Rec_engagement               2.225556
Rec_reliance                 2.225556
Comm_reliance                2.225556
Commercial_pounds_landed     0.025006
dtype: float64